#app-header{
    background-color: var(--main-color);
    margin: 0;
    display: flex;
    justify-content: space-between;
    color: white;
    
}

#app-title {
    margin: 0;
    line-height: 50px;
    margin-left: 25px;
}


#navbar-list {
    list-style-type: none;
    margin: 0;
    margin-right: 25px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 0;
    font-weight: bold;
}

.navbar-button{
    margin: auto 5px;
    cursor: pointer;
}

#navbar-user-info {
    position: relative;
}

#navbar-user-info > div{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    color: black;
    z-index: 15;
    border-radius: 5px;
    text-align: left;
    font-weight: 600;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.644);
}

#navbar-user-info > div > span{
    display: block;
}

#navbar-user-info:hover > div{
    display: block;
}

.navbar-button:hover{
    text-decoration: underline;
}



/* FORMS */
#auth-form-container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.568);
    z-index: 14;
}

#auth-form {
    color: black;
    width: 600px;
    height: 300px;
    position: fixed;
    background-color: rgb(240, 240, 240);
    box-shadow: 15px 15px 15px var(--highlight);
    left: 50%;
    top: 65px;
    transform: translateX(-50%);
    z-index: 15;
    max-width: 90%;
    animation-name: form-appear;
    animation-duration: 0.35s;
}

#auth-form-title {
    background-color: var(--main-color);
    color: white;
    padding: 10px;
}

#close-auth-form {
    background-color: red;
    color: white;
    position: absolute;
    right: 0;
    padding: 7.5px;
    margin: 7.5px;
    border-radius: 5px;
    cursor: pointer;
}

#close-auth-form:hover {
    background-color: rgb(228, 2, 2);
}

.auth-form-input {
    display: block;
    margin: 10px auto;
    height: 25px;
    min-width: 200px;
}

#auth-form-button {
    display: block;
    margin: 0 auto;
    color: white;
    background-color: var(--main-color);
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 3px 3px var(--highlight);
}

#auth-form-button:hover {
    background-color:  #017ce0;
}

#auth-form-button:active {
    transform: scale(0.85);
}

@keyframes form-appear {
    0%{
        transform: translate(-50%,300px);
    }100%{
        transform: translate(-50%, 0)
    }
}