#todo-form {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    font-weight: bold;
    min-width: 300px;
    width: 80%;
    font-size: 15px;
    position: relative;
}

#todo-form > button {
    cursor: pointer;
    margin: 0 5px;
    font-size: 15px;
    border-radius: 5px;
}

#daily-form-btn, #important-form-btn {
    border: none;
    background-color: white;
    width: 35px;
    height: 35px;
    border: 5px black solid;
    position: relative;
}

#daily-form-btn:hover::after, #important-form-btn:hover::after {
    position: absolute;
    bottom: -50px;
    left: 0;
    font-weight: normal;
    width: 120px;
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    background-color: var(--highlight);
    font-family: Arial, Helvetica, sans-serif !important;
}

#daily-form-btn:hover::after {
    content: "Mark Daily";
}

#important-form-btn:hover::after {
    content: "Mark Important";
}
    
#title-input-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}

#title-input-container > input {
    padding: 5px;
    width: 95%;
}

#todo-submit {
    background-color: var(--main-color);
    border: none;
    padding: 0 25px;
    font-weight: bold;
    color: white;
}

#todo-submit:hover {
    background-color: #017ce0;
}

#todo-submit:active {
    transform: scale(0.85);
}

@media(max-width: 500px){
    #title-input-container {
        width: 65%;
    }

    #todo-form {
        justify-content: space-between;
    }

    #todo-submit {
        width: 100%;
        padding: 5px;
        margin: 0 !important;
        margin-top: 10px !important;
    }

    #daily-form-btn:hover::after, #important-form-btn:hover::after {
        content: "";
        width: 0;
    }
    
}
