.delete-todo-btn:hover {
    background-color: rgb(238, 1, 1);
}

[class*=checkbox] {
    padding: 4.5px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box;
}

[class*=checkbox]:hover {
    background-color: var(--highlight);
}

.checkbox {
    color: rgba(255, 255, 255, 0);
}

.todo-item {
    display: flex;
    justify-content: flex-start;
    position: relative;
    border-bottom: 1px solid rgba(128, 128, 128, 0.247);
    margin-bottom: 7.5px;
    padding: 5px 0;
    width: 80%;
    min-width: 280px;
    flex-wrap: wrap;
}

.todo-notes {
    width: 100%;
    background-color: rgb(243, 243, 243);
    margin-top: 10px;
    text-align: left;
    box-sizing: border-box;
    margin-left: 11.5px;
    border-left: 26px rgb(223, 223, 223) solid;
    padding-left: 20px;
    border-radius: 5px;
    color: rgb(121, 121, 121);
}

.open-notes-btn {
    border: none;
    cursor: pointer;
    padding: 7.5px;
    border-radius: 50%;
    position: absolute;
    right: 50px;
    background-color: rgb(245, 245, 245);
    outline: none;
}

.open-notes-btn:hover {
    background-color: rgb(240, 240, 240);
}

.notes-content {
    min-height: 25px;
    white-space: pre-wrap;
}

.todo-notes-input {
    resize: none;
    display: block;
    margin-left: 20px;
    outline: none;
    background-color: rgb(243, 243, 243);
    border: none;
    min-width: 50%;
    min-height: 50px;
}

.todo-notes-input:focus {
    outline: 1px solid black;
}

.delete-todo-btn {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 7.5px;
    border-radius: 5px;
    position: absolute;
    right: 0;
}

[class*=checkbox], .delete-todo-btn, .todo-title{
    display: block;
    margin: 0 10px
}

.todo-title{
    text-align: left;
}

.daily-mark{
    margin-left: 5px;
    font-size: 12px;
}

