#todo-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        'form form'
        'tools list';
    max-width: 100vw;
}

#todo-form {
    grid-area: form;
}

#todo-tools {
    grid-area: tools;
}

#todo-list {
    grid-area: list;
}

@media(max-width: 800px){
    #todo-container {
        grid-template-columns: 35px 4fr;
    }
}